[Unit]
Description=Check Docker disk space every five minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
Unit=dom-docker-cache-cleanup.service

[Install]
WantedBy=timers.target
